@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 350 13.2% 19.6%;
    --card: 0 0% 100%;
    --card-foreground: 350 13.2% 19.6%;
    --popover: 0 0% 100%;
    --popover-foreground: 350 13.2% 19.6%;
    --primary: 350 13.2% 19.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 349 11% 95%;
    --secondary-foreground: 350 13.2% 19.6%;
    --muted: 349 11% 95%;
    --muted-foreground: 350 13% 45%;
    --accent: 349 11% 95%;
    --accent-foreground: 350 13.2% 19.6%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 349 11% 90%;
    --input: 349 11% 90%;
    --ring: 350 13.2% 19.6%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 350 13.2% 19.6%;
    --foreground: 0 0% 100%;
    --card: 350 13.2% 19.6%;
    --card-foreground: 0 0% 100%;
    --popover: 350 13.2% 19.6%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 350 13.2% 19.6%;
    --secondary: 350 13% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 350 13% 15%;
    --muted-foreground: 350 13% 65%;
    --accent: 350 13% 15%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 350 13% 15%;
    --input: 350 13% 15%;
    --ring: 350 13% 75%;
  }
}

